@import "~@fortawesome/fontawesome-free/css/all.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.route-container {
  position: fixed;
  top: 112px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
