<div class="route-container">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <ul *ngIf="tables">
        <li *ngFor="let i of tables">{{ i }}</li>
      </ul>
      <button (click)="drawer.toggle()" mat-raised-button>Hide</button>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div>
  </mat-drawer-container>
</div>
